/*секция menu начало*/
.menu{
    background-color: black;
}
.icons span {
    padding: 7px;
    color: white;
    font-size: 18px;
}
.icons span:hover {
    padding: 7px;
    color: #00c8ff;
}
.phone a {
    color: white;
    padding: 7px;
    text-decoration: none;
}
.phone a:hover {
    color: #00c8ff;
    text-decoration: none;
}
.add a {
    color: white;
    padding: 7px;
    text-decoration: none;
}
.add a:hover {
    color: #00c8ff;
    text-decoration: none;
}
/*секция menu конец*/
/*секция header начало*/
header {
    width: 100%;
    height: 550px;
    background-image: url("../images/1.jpg");
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.bg-light {
    background-color: rgba(255, 255, 255, 0.5);
    position:absolute;
}
.navbar-logo img {
    width: 80px;
    height: 70px;
}
.navbar-logo {display: inline-block;}
.navbar{
    margin-top: 40px;
    background-color: rgba(255,255,255,0.4);
}
.nav-link{
    color: white;
    font-weight: bold;
    font-size: 20px;
}
.btn1{
    text-align: center;
    font-size: 70px;
    margin-top: 30%;
    padding: 20px 75px;
    border-radius: 1px;
}
/*секция header конец*/
/*
секция "all" начало*/
.new h2{
    font-weight: bolder;
}
.new hr{
    color: rgb(255, 0, 11); /* Цвет линии для IE6-7 */
    height: 5px; /* Толщина линии */
    opacity: inherit;
}
.peace h2{
    margin-top: 15px;
    margin-bottom: 15px;
}
.card p{
    font-size: 15px;
}
.card-body{
    margin-right: 25px;

}
.card{
    margin-top: 5px;
}
.images-gallery{
    display: inline-block;
    padding: 0px;
    overflow: hidden;
}
.images-gallery:hover{
    opacity: 0.8;
}
 div.images-gallery {
    margin: 0 -10px 10px;

 }
.block_1{
    width:1050px;
    height:300px;
    overflow:hidden;
    position:relative;
    margin-left:150px;
    background-size:cover
}
.block_2{
    position:absolute;
    visibility:hidden;
    left:1px;
    font-size:20px;
    color: white;
    width: 1050px;
    height: 300px;
    top:160px;
}
.block_2 p {
    padding: 110px 0px;
    text-align: center;
}
.block_1:hover .block_2{
    visibility:visible;
    transition:1s;-webkit-transition:1s;
    transform:translatey(-160px);
    -webkit-transform:translatey(-160px);
}
/*секция "all" конец*!*/

.navbar-toggler {
    border: 1px solid black;
}
.bg-light {
    background-color: #f8f9fa5c!important;
}
.navbar-light .navbar-nav .nav-link {
    color: rgb(255 255 255);
}
.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
    color: rgb(255 255 255 / 90%);
}
.navbar-light .navbar-toggler {
    color: rgba(0, 0, 0, 0.55);
    border-color: rgb(255 255 255 / 66%);
}
.btn-outline-success {
    color: #ffffff;
    border-color: #ffffff;
}
.nav-link{
    display: contents;
}
.nav-item{
    margin: 0 4px;
}
@media (max-width: 1000px){
    .menu .col-md-0{
        display: none !important;
    }
    .btn1 {
        margin-top: 50%;
    }
}
@media (max-width: 700px){
    .btn1 {
        margin-top: 70%;
    }
}
.verx {
    display: -webkit-flex;
    display: flex;
    justify-content: flex-end;
}
@media (max-width: 580px){
    .menu .col-sm-6{
        display: -webkit-flex;
        display: flex;
        justify-content: center;
    }
    .bg-light {
        width: 98%;
    }
}
header{
    width: 100%;
}
.footer{
    margin: 50px 0 0 0;
    width: 100%;
    position: relative;
    background: #292929;
    overflow: hidden;
    color: #ffffff;
}
.footer_vol{
    padding: 20px 0;
}
.grow:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}
.color p,.color h5{
    background-color: #1a1e21ab;
}
